.h2 {
    color: var(--text-color);
    font-family: "Martel-Bold";
    font-style: var(--h-2-font-style);
    letter-spacing: var(--h-2-letter-spacing);
    line-height: var(--h-2-line-height);
}

.h5 {
    color: var(--text-color);
    font-family: "Martel-Bold";
    font-style: var(--h-5-font-style);
    letter-spacing: var(--h-5-letter-spacing);
    line-height: var(--h-5-line-height);
}

.h6 {
    color: var(--second-text-color);
    font-family: var(--h-6-font-family);
    font-style: var(--h-6-font-style);
    letter-spacing: var(--h-6-letter-spacing);
    line-height: var(--h-6-line-height);
}

.paragraph {
    color: var(--second-text-color);
    font-family: Helvetica;
    font-style: var(--paragraph-font-style);
    letter-spacing: var(--paragraph-letter-spacing);
    line-height: var(--paragraph-line-height);
}

.icn-circle-circle-md {
    background-color: var(--light-background-color);
    border-radius: 200px;
    height: 72px;
    overflow: hidden;
    position: relative;
    width: 72px;
}

.icn-resize-icn-md {
    height: 26px;
    left: 20px;
    position: relative;
    top: 23px;
    width: 32px;
}

.card-content-advice {
    align-items: flex-start;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #a8d6ff;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    padding: 30px 50px;
    position: relative;
}

.title-card-content {
    background-color: #f6e3d6;
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.flex-row-p {
    background-color: #f6e3d6;
    align-items: center;
    display: inline-flex;
    padding: 30px 50px;
    position: relative;
    margin-bottom: -8px;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
}

.link {
    color: var(--primary-color);
    font-family: var(--link-font-family);
    font-style: var(--link-font-style);
    letter-spacing: var(--link-letter-spacing);
    line-height: var(--link-line-height);
}

.background-gray {
    background: linear-gradient(#f3f3f3 50%, #0f3c4c 50%);
}

.background-gray2 {
    background-color: #f3f3f3;
}

.filterd {
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0) 14.58%,
            rgba(56.31, 56.31, 56.31, 0.84) 100%);
    background-color: rgba(255, 255, 255, 1);
}

.button-button-btn {
    align-items: center;
    background-color: var(--secondary-color-4);
    border-radius: 73.6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 34.8px 36.8px;
    position: relative;
}

.button-button-btn .icn-play-icn-sm {
    height: 28.8px;
    position: relative;
    width: 24px;
}

.card-item-say {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 5px;
    display: inline-flex;
    padding: 30px 35px;
    position: relative;
}

.card-item-say .card-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.card-item-say .h {
    color: var(--second-text-color);
    font-family: var(--h-6-font-family);
    font-size: var(--h-6-font-size);
    font-style: var(--h-6-font-style);
    font-weight: var(--h-6-font-weight);
    letter-spacing: var(--h-6-letter-spacing);
    line-height: var(--h-6-line-height);
    position: relative;
    width: fit-content;
}

.card-item-say .frame {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
}

.card-item-say .div {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 15px;
    height: 50px;
    position: relative;
}

.card-item-say .media-circle-box-xs {
    background-image: url(/assets/img/video.jpg);
    background-position: 50% 50%;
    background-size: cover;
    height: 50px;
    position: relative;
    width: 50px;
}

.card-item-say .div-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.card-item-say .link {
    color: var(--primary-color);
    font-family: var(--link-font-family);
    font-size: var(--link-font-size);
    font-style: var(--link-font-style);
    font-weight: var(--link-font-weight);
    letter-spacing: var(--link-letter-spacing);
    line-height: var(--link-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.card-item-say .text-wrapper {
    color: var(--text-color);
    font-family: var(--h-6-font-family);
    font-size: var(--h-6-font-size);
    font-style: var(--h-6-font-style);
    font-weight: var(--h-6-font-weight);
    letter-spacing: var(--h-6-letter-spacing);
    line-height: var(--h-6-line-height);
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.slick-slide>div {
    margin: 0 10px;
}

.card-item-attorney {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #eeeeee;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 328px;
}

.coverAttorneys {
    background-position: 50% 50%;
    background-size: cover;
    height: 231px;
    width: 328px;
}

.h5-attorney {
    color: var(--text-color);
    font-family: var(--h-5-font-family);
    font-style: var(--h-5-font-style);
    letter-spacing: var(--h-5-letter-spacing);
    line-height: var(--h-5-line-height);
    position: fixed;
    text-align: center;

    white-space: nowrap;
}

.h6-attorney {
    color: var(--second-text-color);
    font-family: var(--h-6-font-family);
    font-style: var(--h-6-font-style);
    letter-spacing: var(--h-6-letter-spacing);
    line-height: var(--h-6-line-height);
    text-align: center;
    white-space: nowrap;
}

.input-form-control-make-appointment {
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: var(--muted-color);
    border-radius: 5px;
    color: var(--muted-color);
    font-family: var(--h-6-font-family);
    font-size: var(--h-6-font-size);
    font-style: var(--h-6-font-style);
    font-weight: var(--h-6-font-weight);
    letter-spacing: var(--h-6-letter-spacing);
    line-height: var(--h-6-line-height);
    overflow: hidden;
    padding: 0;
    padding-left: 21px;
    position: relative;
    white-space: nowrap;
}

.button-btn-primary-make {
    align-items: center;
    background-color: var(--secondary-color-2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    padding: 15px 40px;
    position: relative;
    
}

.btn-text-make {
    color: var(--light-text-color);
    font-family: var(--btn-text-font-family);
    font-size: var(--btn-text-font-size);
    font-style: var(--btn-text-font-style);
    font-weight: var(--btn-text-font-weight);
    letter-spacing: var(--btn-text-letter-spacing);
    line-height: var(--btn-text-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.cover-make {
    background-image: url(/assets/img/pareja.png);
    background-position: 50% 50%;
    background-size: cover;
}